<%= blog.title%>
<% include ./partials/header %>

<div class="container new-form">
    <h1 class="display-2">Edit <%= blog.title%></h1>
    <form action="/blogs/<%=blog._id%>?_method=PUT" method="POST" class="blog-form container mt-2">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" value="<%=blog.title%>">

        </div>
        <div class="field">
            <label for="">Image Url</label>
            <input type="text" name="blog[image]" value="<%=blog.image%>">

        </div>
        <div class="field">
            <label for="">Body</label>
            <textarea name="blog[body]" required><%=blog.body%></textarea>
        </div>
        <input type="submit">
    </form>
</div>
<% include ./partials/footer %>
