<% include ./partials/header %>
    <div class="content container"> 
        <div class="items container">
            <%blogs.forEach((blog) => {%>
                <div class="item">
                    <div class="blog__image">
                        <img src="<%= blog.image%>" alt="blog image" >
                    </div>
                    <div class="blog__content mt-5">
                        <a href="/blogs/<%= blog._id%>" class="header display-2"><%= blog.title%></a>
                        <div class="meta mt-3">
                            <span><%= blog.created.toDateString()%></span>
                        </div>
                        <div class="blog__description mb-4">
                            <p><%= blog.body.substring(0,50)%>...</p>
                        </div>
                        <div class="blog__extra">
                            <a href="/blogs/<%=blog._id%>" class="btn btn-outline-primary rounded-pill button">Read More </a>
                        </div>
                    </div> 
                </div>
            <%}); %>
        </div>
    </div>
    
<% include ./partials/footer %>
